In [2]:
!pip install mysql.connector

Collecting mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [8]:
#新增table的值
import mysql.connector
try:
    # Open database connection
    conn = mysql.connector.connect(host="192.168.56.125", 	user="Neil", passwd="Pn123456", db="test1", charset="utf8")
    cursor = conn.cursor()  # prepare a cursor object 
    sql = "insert into Student values (%s, %s, %s, %s)"
    data = (29, '張三',80,'2008-12-09')
    cursor.execute(sql, data)  # Execute the SQL command
    conn.commit()
    print("新增成功")
except mysql.connector.Error as e:
    print(str(e))
    print("新增失敗")
except Exception as e:
    print(str(e))
    conn.rollback()
finally:
    if conn is not None:
        conn.close()

新增成功

In [27]:
#查詢table
import mysql.connector
try:
    # Open database connection
    conn = mysql.connector.connect(host="192.168.56.125", user="Neil", passwd="Pn123456", db="test1", charset="utf8")
    cursor = conn.cursor()  # prepare a cursor object
    sql = "select id, name, score from Student where score >= %s"
    data = (80,)
    cursor.execute(sql, data)   # Execute the SQL command
    for (id, name, score) in cursor:
        print("{0}, {1}, 的分數是 {2}".format(id, name, score))
except mysql.connector.Error as e:
    print(str(e))
    print("查詢失敗")
except Exception as e:
    print(str(e))
finally:
    if conn is not None:
        conn.close()

1, Neil, 的分數是 90.00
5, Alen, 的分數是 85.00
10, xxx, 的分數是 80.00
13, Wu, 的分數是 90.00
29, 張三, 的分數是 80.00

In [18]:
#建立table

import mysql.connector
# try:
    # Open database connection
conn = mysql.connector.connect(host="192.168.56.125", 	user="Neil", passwd="Pn123456", db="test1", charset="utf8")
cursor = conn.cursor()  # prepare a cursor object 
sql = "create table Name (id int, name Varchar(10) not null);"
cursor.execute(sql)  # Execute the SQL command
conn.commit()
    print("新增成功")
except mysql.connector.Error as e:
    print(str(e))
    print("新增失敗")
except Exception as e:
    print(str(e))
    conn.rollback()
finally:
    if conn is not None:
        conn.close()

In [ ]:
#pymysql 讀取資料庫
import pymysql
import pandas as pd

MYSQL_HOST = 'localhost'
MYSQL_DB = 'neildb'
MYSQL_USER = 'root'
MYSQL_PASS = 'root'

def connect_mysql():  #連線資料庫
    global connect, cursor
    connect = pymysql.connect(host = MYSQL_HOST, db = MYSQL_DB, user = MYSQL_USER, password = MYSQL_PASS,
            charset = 'utf8', use_unicode = True)
    cursor = connect.cursor()

connect_mysql()
df = pd.read_sql('SELECT * FROM job104', con = connect) #使用connect指定的Mysql獲取資料
data = df.to_dict('recode')

In [ ]:
# sqlalchemy 寫入資料庫
from sqlalchemy import create_engine
import pandas as pd

df = pd.DataFrame(all_class)

engine = create_engine('mysql+pymysql://root:root@localhost:3306/neildb') 

# 將新建的DataFrame儲存為MySQL中的數據表，不儲存index列， 直接打上要建立的table名就可建立，'replace'如果同名表存在就替換掉


df.to_sql('school1111', engine, index= False, if_exists='replace') 

print('新增成功')